@page
@model FitnessTracking.Web.AddExerciseModel
@{
    ViewData["Title"] = "AddExercise";
}

<h1>Add Exercise</h1>

<form action="/" method="post">
    <div class="form-group">
        <label>Exercise type</label> <br />
        <input type="radio" name="exerciseType" value="Discrete" checked /> Discrete<br />
        <input type="radio" name="exerciseType" value="Weighted" /> Weight<br />
        <input type="radio" name="exerciseType" value="Timed" /> Timed<br />
    </div>

    <div class="form-group">
        <label>Exercise Name</label>
        <input type="text" name="name" value="" />
    </div>

    <div class="form-group">
        <label>Sets</label>
        <input type="text" name="Set" value="" />
    </div>

    <div class="form-group">
        <label>Reps per first set</label>
        <input type="text" name="set1" value="" />
    </div>

    <div class="form-group">
        <label>Reps per second set</label>
        <input type="text" name="set2" value="" />
    </div>

    <div class="form-group">
        <label>Reps per third set</label>
        <input type="text" name="set3" value="" />
    </div>


    <div class="form-group">
        <label>Reps per fourth set</label>
        <input type="text" name="set4" value="" />
    </div>


    <div class="form-group">
        <label>Reps per fifth set</label>
        <input type="text" name="set5" value="" />
    </div>
</form>