<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/layout/mocking/small.svg" alt="Plan" />
                <div class="card-body">
                    <h5 class="card-title">Plan</h5>
                    <p class="card-text">Create a fitness plan that gradually increases in difficulty</p>
                    <a href="#" class="btn btn-primary">Helpful Link</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/layout/mocking/small.svg" alt="Plan" />
                <div class="card-body">
                    <h5 class="card-title">Log</h5>
                    <p class="card-text">Log meals and calculate your daily caloric intake and other nutritional macros</p>
                    <a href="#" class="btn btn-primary">Helpful Link</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/layout/mocking/small.svg" alt="Plan" />
                <div class="card-body">
                    <h5 class="card-title">Compare</h5>
                    <p class="card-text">Compare you progress with others on the leaderboard</p>
                    <a href="#" class="btn btn-primary">Helpful Link</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/layout/mocking/small.svg" alt="Plan" />
                <div class="card-body">
                    <h5 class="card-title">Improve</h5>
                    <p class="card-text">Get fitter every day</p>
                    <a href="#" class="btn btn-primary">Helpful Link</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/layout/mocking/small.svg" alt="Plan" />
                <div class="card-body">
                    <h5 class="card-title">Lose it</h5>
                    <p class="card-text">Lose weight, look good!</p>
                    <a href="#" class="btn btn-primary">Helpful Link</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/layout/mocking/small.svg" alt="Plan" />
                <div class="card-body">
                    <h5 class="card-title">Compare</h5>
                    <p class="card-text">Track progress!</p>
                    <a href="#" class="btn btn-primary">Helpful Link</a>
                </div>
            </div>

        </div>
    </div>
</div>